.forgot-password-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .logo-ejov img {
    display: block;
    margin: 0 auto;
    width: 180px;
    height: 180px;
    padding: 50px;
  }
  
  .forgot-password-form label {
    color: #fff;
    margin-bottom: 3px;
    font-size: 18px;
  }
  
  .forgot-password-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    flex-grow: 1;
  }
  
  .forgot-password-button {
    padding: 15px;
    background-color: #8686FC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 22px;
  }
  
  .forgot-password-button:hover {
    background-color: #5751c9;
  }
  
  .forgot-password-form p {
    color: #fff;
    font-size: 16px;
  }
  
  .forgot-password-form a {
    color: #6c63ff;
    text-decoration: none;
  }
  
  .forgot-password-links {
    text-align: right;
    margin-top: 5px;
  }
  
  .forgot-password-links a {
    color: #888;
    text-decoration: none;
  }  