/* src/pages/login.css */
.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto; /* Alinha o formulário ao centro */
}

.logo-ejov img {
  display: block;
  margin: 0 auto 20px; /* Centraliza a imagem e ajusta a margem */
  width: 200px;
  height: 200px;
}

.login-form label {
  color: #fff;
  font-size: 18px;
}

.login-form input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #eee;
  margin-top: 5px; /* Adiciona espaço entre o label e o input */
}

.login-links {
  text-align: right;
  margin-top: 5px;
}

.login-links a {
  color: #888;
  text-decoration: none;
}

.login-button {
  padding: 15px;
  background-color: #8686FC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Ajusta o espaço entre os elementos */
  font-size: 22px;
}

.login-button:hover {
  background-color: #5751c9;
}

.login-form p {
  color: #fff;
  font-size: 16px;
  padding-top: 20px; /* Ajusta o espaço superior */
}

.login-form a {
  color: #6c63ff;
  text-decoration: none;
}
